$light-background: #e7e7e7;
$light-foreground: #f9f9f9;
$light-text: #292d36;
$light-text-bg: #444a57;
$light-text-light: #524d4d;
$light-text-dark: #1b0703;
$light-shadow: rgba(149 157 165 / 20%);
$light-blue: #144272;
$light-blue-light: #205295;
$light-blue-dark: #0a2647;
$light-red: #b53e3e;
$light-red-dark: #9c2f2f;
$light-red-light: #c64a4a;
$light-green: #3eb55a;
$light-green-dark: #32a44d;
$light-yellow: #d3ad4d;
$light-yellow-dark: #c39d3e;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
